<!DOCTYPE html>
<html class="back-form">
<head>
  <title>Simulación Crédito de Consumo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="<%= url("/automotriz.css")%>" type="text/css">
<body class="center">
  <h5><b>Simula un Crédito de Consumo y compáralo con tu Crédito Automotriz</b></h5>
  <div class="row"></div>
  <p>El valor de la cuota con un crédito en BCI es de $<%= cmnt %></p>
  <p>Mientras que el valor de la cuota con el crédito automotriz es de $<%= amnt %></p>
  <p></p>
  <% if amnt < cmnt %>
    <font size="4"><b>Por lo que no conviene tomar el crédito con BCI</b></font>
  <% else %>
    <font size="4"><b>Por lo que si conviene tomar el crédito con BCI</b></font>
  <% end %>
</body>
