<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="<%= url("/automotriz.css")%>" type="text/css">
</head>
<body>
  <div class="center container">
    <form method="POST" action="/simulacion_BCI">
      <h5>Simula un Crédito de Consumo y compáralo con tu Crédito Automotriz</h5>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Valor Automovil" type="text" name="price" class="validate">
        </div>
        <div class="input-field col s6">
          <input placeholder="Monto Crédito Solicitado" type="text" name="montoCredito" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 no-margin">
          <p class="no-margin">Fecha Primer Vencimiento Cuota: <input id="date_payment" type="date" min=<%= Date.today %> name="fechaPrimerVencimiento"></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          <input placeholder="Número de Cuotas" type="text" name="cantidadCuotas" class="validate">
        </div>
        <div class="input-field col s7">
          <input placeholder="Valor Cuota Crédito Automotriz" type="text" name="valcuota" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Cae Crédito Automotriz" type="text" name="ACAE">
        </div>
        <div class="input-field col s6">
          <input placeholder="Ctc Crédito Automotriz" type="text" name="Actc">
        </div>
      </div>
      <button class="btn-flat btn-large" type="submit">Simula tu crédito con BCI</button>
    </form>
  </div>
</body>
