<!DOCTYPE html>
<html class="back-form">
<head>
  <title>Compara tu Crédito Automotriz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="<%= url("/style.css")%>" type="text/css">
  <script>
    function miles(numero){
      var num = numero.value.replace(/\./g,"");
      if(!isNaN(num)){
        num = num.toString().split("").reverse().join("").replace(/(?=\d*\.?)(\d{3})/g,"$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/,"");
        numero.value = num;
      }
      else{
        alert("Ingresar solo numeros");
        numero.value = numero.value.replace(/[^\d\.]*/g,"");
      }
    }
    function solonum(numero){
      var num = numero.value.replace(/\.*\,/g,"");
      if(isNaN(num)){
        alert("Ingresar solo numeros");
        numero.value = numero.value.replace(/[^\d\.\,]*/g,"");
      }
    }
  </script>
</head>
<body>
  <div class="center container border">
    <form method="POST" action="/simulacion_BCI">
      <h5 class="no-margin"><b>Compara tu Crédito Automotriz</b></h5>
      <h5 class="no-margin"><b>con uno de BCI</b></h5>
      <h6>A continuación ingresa los datos de tu Crédito Automotriz</h6>
      <div class="row"></div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Monto Crédito Solicitado" id="montoCredito" onkeyup="miles(this)" type="text" name="montoCredito" required>
          <label class="active" for="montoCredito">Monto del Crédito Solicitado</label>
        </div>
      </div>
      <div class="row">
        <div class="no-margin input-field col s12">
          <p class="no-margin">Fecha Vencimiento Primera Cuota: <input type="date" min=<%= Date.today %> name="fechaPrimerVencimiento" required></p>
        </div>
      </div>
      <div class="row">
        <div class="no-margin input-field col s12">
          <input placeholder="Número de Cuotas" id="cantidadCuotas" onkeyup="solonum(this)" type="text" name="cantidadCuotas" required>
          <label class="active" for="cantidadCuotas">Número de Cuotas</label>
        </div>
      </div>
      <div class="row">
        <div class="no-margin input-field col s12">
          <input placeholder="Valor Cuota" id="valcuota" onkeyup="miles(this)" type="text" name="valcuota" required>
          <label class="active" for="valcuota">Valor Cuota</label>
        </div>
      </div>
      <button class="btn-large" type="submit">Realizar comparación</button>
    </form>
  </div>
</body>
