.center {
  width: 600px;
  padding: 40px 50px;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0.5px 1px 5px 0 #ccc;
}

.no-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}

.back-form{
  background: -webkit-gradient(linear,left bottom,right 690,from(#fbd2a8),to(#2355e43d));
}

.marcar{
  background-color: #f2f2f2;
}

.img{
	width: 35px;
}